*{
    background-attachment: fixed;
    background-image: url('https://uploads-ssl.webflow.com/5dd3ac2a77520f09d34aa5b0/632aae0341199844b4308609_600_300.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    background-color: red;
}