
.dddt{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    margin: 0;
    display: flex;
   
    color: #fff;
    font-family: 'Arial', sans-serif;
}
@media screen and (max-width: 768px) {
    .dddt {
      background-size: contain;
    }
  }